* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #1CB6EE;
}

p {
    line-height: 25px;
}

/* header section start */
header .header {
    min-width: 250px;
    background-color: #0C455A;
    min-height: 100vh;
    padding: 50% 0;
    scrollbar-color: #0C455A #0C455A;
    display: flex;
    align-items: center;
}

.header nav {
    margin: auto;
    position: relative;
    padding: 0 10px;
    min-width: 240px;
}

.header nav ul {
    /* padding-left: 30px; */
    list-style: none;
    margin: auto;
    /* position: absolute; */
}

.header nav ul li {
    line-height: 60px;
    font-size: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #1CB6EE;
    background-color: #12495d;
    padding: 10px 15px 10px 35px;
    /* padding-left: 20px; */
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    transition: all 0.5s;
}

.header nav ul li a:hover {
    box-shadow: 0 0 10px 4px #3d606c;
    color: #12495d;
    background-color: #1CB6EE;
}

/* main section  */
main {
    width: 100%;
    background-color: #12495d;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #0C455A #0C455A;
}

main::-webkit-scrollbar {
    background-color: #0C455A;
}

/* about */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-top: 15px;
    overflow: hidden;
}

#about .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about img {
    max-width: 480px;
    object-fit: cover;
    background-color: #275d70;
    border-radius: 10px;
    min-height: fit-content;
    margin: 20px 0;
}

#about .text {
    max-width: 480px;
    padding: 10px;
    margin: auto;
}

#about .text h1 {
    color: #1CB6EE;
}

#about .text h2 {
    color: #7ccae7;
    padding-top: 10px;
}

#about .text p {
    color: #7ccae7;
    padding: 20px 0;
    font-size: 18px;
    /* text-align: justify;
    width: 80%; */
}

#about .text .button {
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    background-color: #275d70;
    border: 1px solid #1CB6EE;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    text-decoration: none;
}

#about .text .button .fa-brands {
    font-size: 30px;
    color: #1CB6EE;
}

#about .text .button:hover {
    border: 1px solid #275d70;
    background-color: #1CB6EE;
}

#about .text .button:hover .fa-brands {
    color: #275d70;
}



/* working process */
#work {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work h1 {
    color: #1CB6EE;
    text-align: center;
}

.border-bottom {
    margin-bottom: 50px;
    position: relative;
}

.border-bottom::after {
    content: '';
    position: absolute;
    width: auto;
    height: 3px;
    background-color: #7ccae7;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 99;
}

.border-bottom::before {
    content: '';
    position: absolute;
    width: auto;
    height: 3px;
    background-color: #7ccae7;
    bottom: -13px;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 99;
}


#work .processes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 25px auto 0;
    padding: 10px;

}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
}

.processes .process-1 {
    border: 1px solid #7ccae7;
    padding: 20px 45px;
    position: relative;
    width: 480px;
    height: 420px;
    overflow: hidden;
    transition: all 0.5s;
}

.processes .process-1::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
}

.processes .process-1::before {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.processes .process-2 {
    border: 1px solid #7ccae7;
    padding: 20px 45px;
    position: relative;
    width: 480px;
    height: 420px;
    overflow: hidden;
}

.processes .process-2::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
}

.processes .process-2::before {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.processes .process-3 {
    border: 1px solid #7ccae7;
    padding: 20px 45px;
    position: relative;
    width: 480px;
    height: 420px;
    overflow: hidden;
}

.processes .process-3::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
}

.processes .process-3::before {
    content: '';
    position: absolute;
    width: 480px;
    height: 420px;
    background: #1CB6EE;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    z-index: 99;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.process {
    position: absolute;
    z-index: 999;
    background: #0C455A;
    inset: 3px;
    border-radius: 5px;
}


.process .work-image {
    display: flex;
    justify-content: center;
}

.process .work-image .fa-solid,
.fa-regular {
    font-size: 105px;
    padding-top: 25px;
    color: #1CB6EE;
}

.process h1 {
    color: #7ccae7;
    padding: 25px;
}

.process p {
    color: #7ccae7;
    font-size: 18px;
    max-width: 70%;
    margin: auto;
}



/* skills */
#skills {
    min-height: 90vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .first {
    margin-bottom: 70px;
}

#skills .all-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 10px;
}

#skills h1 {
    color: #1CB6EE;
}

.skill {
    padding-left: 25%;
    min-width: 360px;
    margin-top: 35px;
}

.skill img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}

.skill img:first-child {
    min-height: 150px;
}

.skill h1 {
    color: #7ccae7;
}

.skill ul li {
    list-style: none;
    color: #7ccae7;
    font-size: 20px;
}

/* experience section */
#experience {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    color: #1CB6EE;
    font-weight: 500
}

.timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
    color: #7ccae7;
}

.timeline-content h4 {
    margin: 5px 0;
    color: #1CB6EE;
}

.timeline-content ul li {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    list-style: none;
    color: #7ccae7;
    margin-top: 5px;
}

.timeline-content p {
    color: #1CB6EE;
    margin: 5px;
}

.timeline-content p span {
    padding: 10px;
    background-color: #1CB6EE;
    color: #0C455A;
    margin-top: 8px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}

/* projects section */
#projects {
    min-height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .all-projects {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

#projects h1 {
    text-align: center;
}

#projects .all-projects div.project {
    max-width: 460px;
    border: 1px solid #7ccae7;
    overflow: hidden;
    min-height: 400px;
    position: relative;
    transition: all 1s;
}

#projects .all-projects .project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

div#projects div.all-projects div.project div.description {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: -400px;
    background-color: #7ccbe7f3;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    transition: all 0.5s;
    cursor: pointer;
}

div#projects div.all-projects div.project:hover div.description {
    bottom: 0;
    top: 0;
}

#projects .all-projects .project .description .responsibilities {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#projects .all-projects .project .description .responsibilities span {
    color: #0C455A;
    padding: 10px 15px;
    background-color: #1CB6EE;
    margin: 10px;
}

#projects .all-projects .project .description h2 {
    color: #0C455A;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

#projects .all-projects .project .description p {
    color: #0C455A;
    padding: 10px 0;
    /* min-height: 150px; */
}

#projects .all-projects .project .description a {
    text-decoration: none;
    color: #0C455A;
    position: relative;
}

#projects .all-projects .project .description a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: #0C455A;
    z-index: 9999;
    transition: all 0.5s;
}

/* contact section */
#contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px 10%;
    justify-content: center;
}

#contact h1 {
    color: #1CB6EE;
    padding-bottom: 15px;
}

#contact p {
    color: #7ccae7;
    padding-bottom: 10px;
}

#contact form {
    position: relative;
}

#contact form label {
    color: #7ccae7;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 0;
}

#contact form input,
#contact form textarea {
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #275d70;
    color: #7ccae7;
    transition: all 0.3s;
}

#contact form input:focus,
#contact form textarea:focus {
    padding: 20px;
}

#contact form input:last-child {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #1CB6EE;
    color: #0C455A;
    position: absolute;
    width: 100px;
    bottom: -50px;
    font-size: 20px;
    cursor: pointer;
    right: 0;
}



/* footer */
main footer {
    margin-top: 15px;
    background-color: #275d70;
    padding: 15px;
}

main footer h5 {
    text-align: center;
    font-size: 16px;
}

main footer span {
    text-align: center;
    color: #7ccae7;
}

main footer h5 span a {
    text-decoration: none;
    color: #1CB6EE;
}

/* media query */
@media screen and (max-width: 1900px) {
    .header {
        max-height: 100vh;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1901px) {
    .header {
        max-height: 100vh;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1760px) {
    #work .processes {
        grid-template-columns: repeat(1, 1fr);
    }

    #skills .all-skills {
        grid-template-columns: repeat(1, 1fr);
    }

    .first {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .first::after {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background-color: #7ccae7;
        bottom: -5px;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .first::before {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background-color: #7ccae7;
        bottom: -13px;
        width: 50%;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 99;
    }

    #about .about {
        grid-template-columns: repeat(1, 1fr);
    }

    #projects .all-projects {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 768px) {
    header {
        display: none;
    }



    .processes .process-1 {
        width: 360px;
    }

    .processes .process-2 {
        width: 360px;
    }

    .processes .process-3 {
        width: 360px;
    }

    .processes .process-1::after {
        width: 360px;
    }

    .processes .process-2::after {
        width: 360px;
    }

    .processes .process-3a::after {
        width: 360px;
    }

    .processes .process-1::before {
        width: 360px;
    }

    .processes .process-2::before {
        width: 360px;
    }

    .processes .process-3a::before {
        width: 360px;
    }
}